<div class="container">
    <!-- <mat-card class="my-card"> -->
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <a>
                <div class="text-center">
                    <!-- <mat-spinner class="spinner-absolute" mode="indeterminate" color="warn" width="10px"></mat-spinner> -->
                    <img src="../../assets/image/logo.png" class="logo text-center" alt="logo">
                </div>
            </a>
            <br>
            <mat-card-content>
                <form class="my-form">
                    <mat-form-field class="login-container">
                        <input [(ngModel)]="email" class="form-control" matInput name="email"
                            placeholder="Ex. abc@abc.com">
                    </mat-form-field>
                    <mat-form-field class="login-container">
                        <input type="password" class="form-control" [(ngModel)]="password" name="password" matInput
                            [type]="hide ? 'password' : 'text'" placeholder="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <a mat-raised-button class="btn-primary login-container" routerLinkActive="router-link-active"
                    (click)="login()" type="submit" [disabled]="btnDisabled">Login </a>
                <a mat-raised-button routerLink="/register" class="login-container btn btn-outline-primary " [disabled]="btnDisabled">Register </a>
                <br>

            </mat-card-actions>
        </div>
    </div>

    <!-- </mat-card> -->