<mat-toolbar>
    <a class="navbar-brand" href="/">
        <div class="jarak">
            <mat-icon> chevron_left </mat-icon>
        </div>
    </a>
    <span>Registration</span>
</mat-toolbar>
<div class="container top-container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <!-- <mat-card class="my-card"> -->
            <mat-card-content>
                <!-- CONTENT HERE -->
                <form class="my-form">
                    <mat-form-field class="full-width">
                        <mat-label>Name</mat-label>
                        <input [(ngModel)]="name" class="form-control" matInput placeholder="name" name="name" required>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="email" class="form-control" matInput placeholder="Email" name="username">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="password" class="form-control" matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                            name="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Reenter Password</mat-label>
                        <input [(ngModel)]="confirmPassword" class="form-control" matInput [type]="hide ? 'password' : 'text'"
                            placeholder="Enter password again !" name="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="picker" id="birthday" class="form-control" name="birthday"
                            [(ngModel)]="birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <!-- REGISTER BUTTON -->
                <div class="row">

                    <div class="col-auto mr-auto">
                        <a href="/" class="btn btn-outline-primary">Batal</a>
                    </div>
                    <div class="col-auto">
                        <button (click)='register()' class="btn btn-primary btn-block" type="button">Register</button>
                    </div>
                </div>
            </mat-card-actions>
            <!-- </mat-card> -->
        </div>
    </div>
</div>