.my-form{
    min-width: 150px;
    /* max-width: 500px; */
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }

@media (min-width: 991.98px) {
    .ukuran{
      margin-right: 33rem;
    }
  
    .jarak{
      width:50%;
      margin-top: 10px;
    }
  
    .jarak-s{
      padding-left: 8px;
      padding-right: 8px;
    }
  
    .tetap{
      bottom: 0;
      width: 100%;
      position: relative;
      height:60px;
      background:#fff;
      color:#fff;
      }
  
      .bawah{
          padding:0rem 15rem;
      }
  
      .top-container{
          margin-top: 40px;
      }
  
  
  
  }
  @media (max-width: 991.97px) {
      .ukuran{
          margin-right: 6.5rem;
      }
  
      .jarak{
          margin-top: 10px;
      }
  
      .top-container{
          margin-top: 40px;
      }
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }